bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
*DotSettings.user
.vs/Chami/DesignTimeBuild/.dtbcache.v2
.vs/Chami/v16/.suo
ChamiTests/InputFiles/chami.db
Installer/ChamiInstaller.exe
Installer/chami-installer.target.nsi
Installer/MultiLanguage.exe
Installer/chami-installer.target.nsi
ChamiTests/OutputFiles/chami-output-test.json
