# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Chami.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\aldam\RiderProjects\Chami\.idea\.idea.Chami\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
